@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #fc3500;
  --secondary: #08fef2;
  --fontPrimary: "Montserrat", sans-serif;
  --fontSecondary: "Lobster", sans-serif;
}

body {
  font-family: var(--fontPrimary);
}
