---
import Hero from '../components/Hero.astro';
import PopularDestination from '../components/PopularDestination.astro';
import TestimonialCard from '../components/TestimonialCard.astro';
import RelocationSection from '../components/RelocationSection.astro';

---

<main class="min-h-screen">
  <Hero />
  <PopularDestination />
  <TestimonialCard />
  <RelocationSection />
</main>
    
