---


---


          <!--  Begin Your Relocation -->


<section class="container mx-auto py-20 px-6 md:px-16 font-sans">
  <div class=" mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
    <!-- Text Summary -->
   <div>
      <h2 class="text-4xl md:text-5xl font-bold leading-tight mb-12 text-[var(--primary)]">
       Begin Your Relocation Journey with Confidence
      </h2>
     

      <p class="text-lg mb-8">
        Are you dreaming of starting a new life abroad? Whether you're aiming for a quality education, career advancement, global exposure, or a better future for your family — <strong class="font-semibold text-[var(--primary)]">Cirtourex Global Limited</strong> is here to turn your dreams into a successful relocation journey.
      </p>

      <!-- <p class="text-md  mb-4">
        With shifting immigration policies and increasing global opportunities, this is the moment to take action. Our experienced consultants are dedicated to helping you move legally, strategically, and confidently.
      </p> -->

      <h3 class="text-xl font-semibold mt-12 mb-6 text-[var(--primary)]">Why Choose Cirtourex?</h3>
      <ul class="list-disc list-inside mb-8 space-y-4">
        <li> Personalized relocation plans tailored to your goals</li>
        <li> Professional support for student, skilled worker, or family visas</li>
        <li> University admission guidance and job-matching support</li>
        <li> Pre-departure training and post-arrival settlement tips</li>
        <li> Transparent process with real-time updates</li>
      </ul>

      <p class="text-md mb-12">
        We've successfully helped hundreds of clients relocate to countries like <strong class="text-[var(--primary)]">Canada, the UK, Newzealand, Luxembourg, Malta</strong>, etc. Many of them are now thriving — studying, working, or raising families abroad — thanks to the right start with Cirtourex.
      </p>

      <!-- <p class="text-md  mb-6">
        You don't have to figure it out alone. We walk the journey with you — from consultation to boarding your flight and beyond. Your goals are valid, and with the right guidance, they are absolutely achievable.
      </p> -->

      <a href="/contact" class="inline-block bg-[var(--primary)] text-white py-6 px-12 rounded-full text-lg shadow hover:bg-[#fc0000] transition-colors duration-300">
        Start Your Relocation Plan Today
      </a>
    </div>

    <!-- Image -->
    <div class="w-full h-[100%]">
      <img src="https://images.unsplash.com/photo-1553697388-94e804e2f0f6?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHRyYXZlbCUyMGFnZW5jeXxlbnwwfHwwfHx8MA%3D%3D" alt="Relocation with Cirtourex" class="w-full h-[100%] rounded-4xl " />
    </div>
  </div>
</section>